* {
    box-sizing: border-box;
    outline: none;
}
body {
    background: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #6B6C6F;
}
p {
    margin: 0;
    font-weight: bold;
}
h1 {
    margin: 2px 0 0 5px;
    font-size: 17px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.page {
    max-width:  1440px;
    margin: 0 auto;
    padding: 50px;
}
.container-first {
    width: 50%;
    min-height: 900px;
    padding: 50px;
}
.container-last {
    width: 50%;
    min-height: 900px;
    padding: 50px;
}
.block {
    margin: 0 auto;
}
.center {
    justify-content: center;
}
.column {
    flex-direction: column;
}
.margin {
    margin: 10px 0 0 15px;
}
.bg-white {
    background: #ffffff;
}
.bg-img {
    background-image: url(../img/Photobg.png);
    background-size: cover;
}
.img {
    width: 60px;
}
.bg-blue {
    background: #29B1CC;
}
.color-grey {
    color:#cccccc;
}
.color-white {
    color: #ffffff;
} 
.color-blue {
    color: #29B1CC;
}
.color-dark-grey {
    color: #6B6C6F;
}
.size-15 {
    font-size: 15px;
}
.size-13 {
    font-size: 13px;
}
.size-11 {
    font-size: 11px;
}
.disp-block {
    display: block;
}
.disp-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.flex-end {
    align-items: flex-end;
}
.position-abs {
    position: absolute;
}
.position-rel {
    position: relative;
}
.text-name {
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 
     -1px 1px 0 black, 1px -1px 0 black;
    font-size: 15px;
}
.input {
    width: 100%;
    border: 1px solid #E1E4E8;
    border-radius: 25px;
    padding: 12px 45px;
    margin: 10px 0;
}
input::-webkit-input-placeholder {
    color: #E1E4E8;
}
.button {
    width: 45%;
    border: 2px solid #29B1CC;
    border-radius: 25px;
    padding: 10px 35px;
    margin: 15px 2px;
    cursor: pointer;
}
.icon1 {
    left: 13px;
    top: 23px;
}
.icon2 {
    right: 14px;
    top: 25px;
}
.icon3 {
    left: 12px;
    top: 23px;
}
.dot {
    font-size: 35px;
    bottom: 3px;
}

@media screen 
and (min-width: 900px) 
and (max-width: 1100px) {
    body div .container-first {
        width: 70%;
    }
    body div .container-last {
        width: 30%;
    }
}
@media screen 
and (min-width: 700px) 
and (max-width: 899px) {
    body div .container-first {
        width: 80%;
    }
    body div .container-last {
        width: 20%;
        padding: 40px;
    }
    body div .container-last div {
        flex-direction: column;
        margin: 10px 0 0 ;
    }
}
@media screen 
and (min-width: 420px) 
and (max-width: 699px) {
    body .page{
        flex-direction: column;
        padding: 20px;
    }
    body div .container-first {
        width: 100%;
        min-height: 750px;
    }
    body div .container-last {
        width: 100%;
        min-height: 100px;
        padding: 20px;
    }
}
@media screen 
and (min-width: 320px)
and (max-width: 419px) {
    body .page{
        flex-direction: column;
        padding: 0;
    }
    body div .container-first {
        width: 100%;
        padding: 20px;
        min-height: 600px;
    }
    body div .container-last {
        width: 100%;
        min-height: 100px;
        padding: 20px;
    }
}